body{
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.inner-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,147,173,0.5)
}

.form-data{
    margin-top: 15%;
    background-color: #fff;
}

.form-body{
    padding: 20px;
}

.form-head{
    padding: 20px;
}

