h1.banner{
	color: blue;
	background-color: red;
	text-align: center;
}
div{
	border:1px solid gray; text-align: center;
}
.footer{
	height: 40px;
	background-color: blue;
	color: yellow;
	text-align: center;
}